aiohttp==3.7.3
alabaster==0.7.12
anndata==0.7.5
annoy==1.17.0
ansi2html==1.6.0
appdirs==1.4.4
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.4
Babel==2.9.0
backcall==0.2.0
bbknn==1.3.12
bleach==3.2.1
bokeh==2.2.3
Brotli==1.0.9
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cycler==0.10.0
Cython==0.29.21
dash==1.17.0
dash-core-components==1.13.0
dash-cytoscape==0.2.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
datacache==1.1.5
decorator==4.4.2
defusedxml==0.6.0
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fett==0.3.2
Flask==1.1.2
Flask-Compress==1.8.0
future==0.18.2
get-version==2.1
gprofiler-official==1.0.0
gtfparse==1.2.1
h5py==3.1.0
holoviews==1.13.5
idna==2.10
imagesize==1.2.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
joblib==1.2.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyter-dash==0.3.1
jupyter-server-proxy==1.5.0
jupyterlab-pygments==0.1.2
kaleido
kiwisolver==1.3.1
legacy-api-wrap==1.2
leidenalg
livereload==2.6.3
llvmlite==0.34.0
loompy==3.0.6
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
memoized-property==1.0.3
mistune==0.8.4
mock==4.0.3
multidict==5.0.2
natsort==7.1.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
networkx==2.5
notebook==6.1.5
numba==0.51.2
numexpr==2.7.1
numpy==1.19.3
numpy-groupies==0.9.13
openpyxl==3.0.5
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
panel==0.10.2
param==1.10.0
parso==0.7.1
pathtools==0.1.2
patsy==0.5.1
pickleshare==0.7.5
Pillow==8.0.1
plotly==4.13.0
progressbar33==2.4
prometheus-client==0.9.0
prompt-toolkit==3.0.8
psutil==5.8.0
pycairo==1.20.0
pycodestyle==2.6.0
pycparser==2.20
pyct==0.4.8
pyensembl==1.9.1
Pygments==2.7.2
pymongo==3.11.2
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-igraph
python-jsonrpc-server==0.3.4
pytz==2020.4
pyviz-comms==0.7.6
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==20.0.0
requests==2.24.0
retrying==1.3.3
rstcheck==3.3.1
scanpy==1.6.0
scConnect==1.0.3
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
Send2Trash==1.5.0
serializable==0.2.1
setuptools-scm==4.1.2
simpervisor==0.3
simplejson==3.17.2
sinfo==0.3.1
six==1.15.0
snooty-lextudio==1.8.3.dev0
snowballstemmer==2.0.0
Sphinx==3.3.1
sphinx-autobuild==2020.9.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
statsmodels==0.12.1
stdlib-list==0.8.0
tables==3.6.1
terminado==0.9.1
testpath==0.4.4
texttable
threadpoolctl==2.1.0
tinytimer==0.0.0
toml==0.10.2
tornado==6.1
tqdm==4.54.0
traitlets==5.0.5
typechecks==0.1.0
typing-extensions==3.7.4.3
umap-learn==0.4.6
urllib3==1.25.11
watchdog==0.10.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
xlrd==1.2.0
yarl==1.6.3
